
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Home/Index</h1>
    <a href="/Product/Index">Product Index</a>
    <a href="/Category/Index">Category Index</a>
    <a href="/Supplier/Index">Supplier Index</a>

</body>
</html>
